<div class="rounded-lg shadow-lg my-6 p-4 bg-gray-200">
  <div class="font-bold text-xl md:text-2xl font-sans">
    <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path></svg>
    Hello World
  </div>
  <div class="mt-2 text-gray-600">
    I have to admit, I’m a bit of a perfectionist. For too long, I’ve been too scared to let myself write down my thoughts on paper or on a screen, so I...
  </div>
  <div class="mt-4 font-sans">
    <div class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-purple-100 text-purple-800">
      productivity
    </div>
    <div class="inline-flex text-sm text-gray-600">
      <span class="hidden sm:inline mx-1">
        &middot;
      </span>
      <span class="mt-2 sm:mt-0">
        November 30, 2017
      </span>
    </div>
  </div>
</div>
