<div class="rounded-lg shadow-lg my-8 p-4 bg-gray-200 transform duration-300 ease-in-out hover:shadow-2xl">
  <%= partial "cards/header", locals: { article: article } %>
  <%= partial "cards/body", locals: { article: article } %>
  <%= partial "cards/footer", locals: { article: article } %>
</div>
