<div class="mt-4 font-sans">
  <%= partial "shared/category", locals: { category: article.data.category } %>
  <% article.tags.each do |tag| %>
    <%= partial "shared/tag", locals: { tag: tag } %>
  <% end %>
  <div class="sm:inline text-sm text-gray-600 dark:text-gray-300">
    <span class="hidden sm:inline mx-1">
      &middot;
    </span>
    <span class="mt-2 sm:mt-0 hover:text-gray-900 dark:hover:text-gray-400 transition duration-300 ease-in-out">
      <%= link_to article.date.strftime("%B %e, %Y"), article.url, class: "" %>
    </span>
  </div>
</div>
