<div class="rounded-lg shadow-lg my-6 p-4 bg-gray-200">
  <div class="font-bold text-xl md:text-2xl font-sans">
    <svg class="w-6 h-6 inline-block" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9.663 17h4.673M12 3v1m6.364 1.636l-.707.707M21 12h-1M4 12H3m3.343-5.657l-.707-.707m2.828 9.9a5 5 0 117.072 0l-.548.547A3.374 3.374 0 0014 18.469V19a2 2 0 11-4 0v-.531c0-.895-.356-1.754-.988-2.386l-.548-.547z"></path></svg>
    Something super important
  </div>
  <div class="mt-2 text-gray-600">
    I had an amazing realization today in which I learned something amazing!
  </div>
  <div class="mt-4 font-sans">
    <div class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-red-100 text-red-800">
      today i learned
    </div>
    <div class="inline-flex text-sm text-gray-600">
      <span class="hidden sm:inline mx-1">
        &middot;
      </span>
      <span class="mt-2 sm:mt-0">
        November 30, 2017
      </span>
    </div>
  </div>
</div>
