@import "bourbon";
@import "neat";

@import "reset/normalize";

@import "base/base";

// @import url('https://fonts.googleapis.com/css?family=Merriweather|Merriweather+Sans');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Roboto+Slab');

body {
  background: #fdf6e3;
  font-family: 'Anonymous Pro', sans-serif;
  // font-family: 'Merriweather', serif;
  font-size: 16px;
}

@import "partials/dropdowns";

h1, h2, h3, h4, h5, h6 {
  // font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Roboto Slab', serif;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  &:first-child {
    margin-top: auto;
  }
}

h1 {
  font-weight: 700;
  font-size: 1.75em;
}

h2 {
  font-weight: 800;
  font-size: 2em;

  &:before {
    content: '#';
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  @media screen and (min-width: 600px) {
    text-indent: -1.5rem;
  }
}

h3 {
  font-weight: 700;
  font-size: 1.5em;

  &:before {
    content: '##';
    font-size: 1rem;
    margin-right: 0.5rem;
  }

  @media screen and (min-width: 600px) {
    text-indent: -1.75rem;
  }
}

h4 {
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;

  &:before {
    content: '###';
    font-size: 0.75rem;
    margin-right: 0.5rem;
  }

  @media screen and (min-width: 600px) {
    text-indent: -2rem;
  }
}

p {
  margin-bottom: 0.75rem;
}

strong {
  font-weight: 800;
}

header {
  padding: 0.75em;

  display: grid;
  grid-template-columns: max-content max-content auto;
  grid-column-gap: 0.5em;
  align-items: center;

  @media screen and (min-width: 375px) {
    grid-column-gap: 2em;
  }

  .logo h1 {
    margin: 0;
  }
  .section span {
    padding-right: 0.5em;
  }
  .menu {
    justify-self: end;
  }
}

main {
  padding: 0.75em;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 1024px) 1fr;
  grid-template-areas: "empty-a container empty-b";
}

.container {
  background: #fff;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
  padding: 1.25em 0.75em;

  grid-area: container;

  @media screen and (min-width: 600px) {
    padding: 2em 4em;
  }

  .breadcrumb {
    color: gray;
    text-transform: uppercase;
    font-size: 0.75em;
    padding-bottom: 1em;
  }
}

.blog-footer {
  color: gray;
  margin-top: 2em;
  font-style: italic;
  font-size: 0.75rem;
}

footer {

}
