.dropdown {
  position: relative;
  display: inline-block;
  transition: all 1s;

  .dropdown-trigger {
    cursor: pointer;

    &:hover, &:focus {
      color: rgba(0,0,0,0.5);
    }
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 2em;
    right: auto;
    left: -1em;
    background-color: #f9f9f9;
    min-width: 10em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    &.align-right {
      left: auto;
      right: 0;
    }

    a {
      color: black;
      padding: 0.75em 1em;
      text-decoration: none;
      display: block;
      transition: all 1s;
    }

    a:hover {background-color: #f1f1f1}

    hr { margin: 5px 0 }
  }

  .show {display: block;}
}
